@using Cadastro_Pessoa.Models
@model Cadastro_Pessoa.Models.Pessoa
@{
    ViewBag.Title = "Home Page";
    Html.RenderPartial("_SaveBar");

    List<SelectListItem> tipoPessoa = new List<SelectListItem>();

    tipoPessoa.Add(new SelectListItem
    {
        Text = "Física",
        Value = "f",
        Selected = true
    });

    tipoPessoa.Add(new SelectListItem
    {
        Text = "Jurídica",
        Value = "j"
    });
}

<div class="tab-div">
    <div class="row-div">
        <div class="content-div" style="width: 130px">
            @Html.LabelFor(m => Model.Id)
            @Html.TextBoxFor(model => model.Id, new { disabled = "disabled", @class = "form-control", @style = "width: 100px" })
        </div>
        <div class="content-div" style="width: 152px">
            @Html.CheckBoxFor(model => model.Ativo, new { @class = "form-check-input" })
            @Html.LabelFor(m => Model.Ativo, new { @style = "display: inline" })
        </div>

        <div style="float:right; display: inline-block;">
            <div class="content-div" style="width: 150px">
                @Html.LabelFor(m => Model.TipoPessoa)
                @Html.DropDownListFor(model => model.TipoPessoa, tipoPessoa, new { @class = "form-control", @style = "width = 32px" })
            </div>

            <div class="content-div" style="width: 150px">
                @Html.LabelFor(m => Model.DataCadastro)
                @Html.TextBoxFor(model => model.DataCadastro, new { disabled = "disabled", @class = "form-control date", @type = "date" })
            </div>
            <div class="content-div" style="width: 150px">
                @Html.LabelFor(m => Model.DataAlterecao, new { disabled = "disabled" })
                @Html.TextBoxFor(model => model.DataAlterecao, new { disabled = "disabled", @class = "form-control date", @type = "date" })
            </div>
        </div>
    </div>

    <div class="row-div">
        <div class="content-div" style="display:block">
            @Html.LabelFor(m => Model.Nome)
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", @maxlength = "50", @style = "width:100%" })
        </div>
    </div>

    <div class="row-div">
        <div class="content-div" style="width: 81%">
            @Html.LabelFor(m => Model.Apelido)
            @Html.TextBoxFor(model => model.Apelido, new { @class = "form-control", @maxlength = "50", @style = "width:100%" })
        </div>

        <div class="content-div">
            @Html.LabelFor(m => Model.CpfCnpj)
            @Html.TextBoxFor(model => Model.CpfCnpj, new { @class = "form-control" })
        </div>
    </div>
</div>


<script type="text/javascript">
    document.getElementById("Ativo").checked = true;
    document.getElementById("DataCadastro").valueAsDate = new Date();
</script>

@section Scripts {
    <script>
        var tipoPessoa = document.getElementById("TipoPessoa");

        $(document).ready(SetarMask());

        document.getElementById("Ativo").checked = true;
        document.getElementById("DataCadastro").valueAsDate = new Date();

        $("#TipoPessoa").change(SetarMask());

        function SetarMask()
        {                
            var fisica = "999.999.999-99";
            var juridica = "99.999.999/9999-99";

            if (tipoPessoa.textContent === "Física")
            {
                $("#CpfCnpj").inputmask(juridica);
            }

            else
            {
                $("#CpfCnpj").inputmask(fisica);
            }
        }
    </script>
}