@using Cadastro_Pessoa.Models
@model Cadastro_Pessoa.Models.Pessoa
@{
    ViewBag.Title = "Home Page";
}
<div class="tab-div">
    <div class="row-div">
        <div class="content-div" style="width: 152px">
            @Html.LabelFor(m => Model.Id)
            @Html.TextBoxFor(model => model.Id, new { disabled = "disabled", @class = "form-control", @style = "width: 100px" })
        </div>
            
        <div style="float:right; display: inline-block;">
            <div class="content-div" style="width: 152px; float:right;">
                    @Html.LabelFor(m => Model.DataCadastro)
                    @Html.TextBoxFor(model => model.DataCadastro, new { disabled = "disabled", @class = "form-control", @style = "width: 100px" })
            </div>

            <div class="content-div" style="width: 152px; float:right;">
                @Html.LabelFor(m => Model.DataAlterecao, new { disabled = "disabled" })
                @Html.TextBoxFor(model => model.DataAlterecao, new { disabled = "disabled", @class = "form-control", @style = "width: 100px" })
            </div>
        </div>
    </div>

    <div class="row-div"
        <div class="content-div" style="width:800px">
            @Html.LabelFor(m => Model.Nome)
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", @style = "width: 800px" })
        </div>
</div>