@using Cadastro_Pessoa.Dominio
@using Cadastro_Pessoa.Controllers
@model Cadastro_Pessoa.Dominio.Pessoa

@{
    ViewBag.Title = "Home Page";


    List<SelectListItem> tipoPessoa = new List<SelectListItem>();

    tipoPessoa.Add(new SelectListItem
    {
        Text = "Física",
        Selected = true
    });

    tipoPessoa.Add(new SelectListItem
    {
        Text = "Jurídica"
    });
}

@using (Html.BeginForm("Index", "Pessoa", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    Html.RenderPartial("_SaveBar");


    <div class="tab-div">
        <div class="row-div">
            <div class="content-div" style="width: 130px">
                @Html.LabelFor(model => model.Id)
                @Html.TextBoxFor(model => model.Id, new { disabled = "disabled", @class = "form-control", @style = "width: 100px" })
            </div>
            <div class="content-div" style="width: 152px">
                @Html.CheckBoxFor(model => model.Ativo, new { @class = "form-check-input", @id = "Ativo" })
                @Html.LabelFor(model => model.Ativo, new { @style = "display: inline" })
            </div>

            <div style="float:right; display: inline-block;">
                <div class="content-div" style="width: 150px">
                    @Html.LabelFor(model => model.TipoPessoa)
                    @Html.DropDownListFor(model => model.TipoPessoa, tipoPessoa, new { @class = "form-control", @style = "width = 32px", @id = "TipoPessoa", @onmouseout ="SetarMask()" })
                </div>

                <div class="content-div" style="width: 150px">
                    @Html.LabelFor(model => model.DataCadastro)
                    @Html.TextBoxFor(model => model.DataCadastro, new { @class = "form-control date", @type = "date" })
                </div>
                <div class="content-div" style="width: 200px">
                    @Html.LabelFor(model => model.DataAlteracao, new { disabled = "disabled" })
                    @Html.TextBoxFor(model => model.DataAlteracao, new { @class = "form-control", @type = "datetime-local" })
                </div>
            </div>
        </div>

        <div class="row-div">
            <div class="content-div" style="display:block">
                @Html.LabelFor(model => model.Nome)
                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", @maxlength = "50", @style = "width:100%" })
                @Html.ValidationMessageFor(model => model.Nome, null, new { @style = "color: red" })
            </div>
        </div>

        <div class="row-div">
            <div class="content-div" style="width: 81%">
                @Html.LabelFor(model => model.Apelido)
                @Html.TextBoxFor(model => model.Apelido, new { @class = "form-control", @maxlength = "50", @style = "width:100%" })
            </div>

            <div class="content-div">
                @Html.LabelFor(model => model.CpfCnpj)
                @Html.TextBoxFor(model => model.CpfCnpj, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CpfCnpj, null, new { @style = "color: red" })
            </div>
        </div>
    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var tipoPessoa = document.getElementById("TipoPessoa");

        $(document).ready(function ()
        {
            var data = new Date();
            var ano = data.getFullYear();
            var mes = data.getMonth() + 1;
            var dia = data.getDate();
            var hora = data.getHours();
            var min = data.getMinutes();

            if (mes.length = 1) mes = '0' + mes;
            if (dia.length = 1) dia = '0' + dia;

            data = ano + "-" + mes + "-" + dia + "T" + hora + ":" + min;

            document.getElementById("DataCadastro").valueAsDate = new Date();
            document.getElementById("DataAlteracao").value = data;

            SetarMask();
        });

        document.getElementById("Ativo").checked = true;

        function SetarMask() {
            var fisica = "999.999.999-99";
            var juridica = "99.999.999/9999-99";

            if (tipoPessoa.value === "Física") {
                $("#CpfCnpj").inputmask(fisica);
            }

            else {
                $("#CpfCnpj").inputmask(juridica);
            }
        }
    </script>
}